.section__imagens {
    display: flex;
    align-items: center;
    padding: 0 80px;
    gap: 60px;
}

.section__reverse {
    flex-direction: row-reverse;
}

.section__texto {
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    width: 50%;
}

.botao__menor{
    width: 150px !important;
    padding: 10px 40px !important;
}

@media (max-width: 719px) {
    .section__imagens{
        flex-direction: column;
        margin-top: 100px;
    }

    .section_image{
        width: 100%;
    }

    .section__texto{
        width: unset;
    }

    .section__texto h1{
        text-align: center;
    }
}