.background__combo{
    background-image: url("../img/Background.png");
    background-position: right;
    background-repeat: no-repeat;
}

.oferta__combo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 40px;
    gap: 1em;
}

.botao2{
    background-color: unset !important;
    border: solid var(--cor-texto) 1px;
    margin-top: 0 !important;
}

.subtexto__combo{
    font-family: var(--fonte-principal);
    color: var(--cor-texto-secundario);
    font-size: 12px;
}

@media (max-width: 719px) {
    .oferta__combo{
        padding: unset;
        background-color: rgba(0,0,0,0.5);
        width: auto;
    } 
    
}