@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit&display=swap');
@import url("./combo.css");
@import url("./assista.css");
@import url("./dispositivos.css");

:root {
    --fonte-principal: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    background-color: #00030C;
}

.botao{
    width: 250px;
    background-color: #167BF7;
    padding: 10px 70px;
    /* margin-top: 54px; */
    border-radius: 8px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.fs48{
    font-size: 48px;
}